/* Navbar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
}

nav{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: #05B0E6;
}
.header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 30px 50px;
    transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    filter: drop-shadow(5px 5px 10px transparent);
    -webkit-filter: drop-shadow(5px 5px 10px transparent);
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 1);
}
.header.sticky{
     background-color: white;
     filter: drop-shadow(5px 5px 10px rgba(194, 184, 255, 0.5));
     -webkit-filter: drop-shadow(5px 5px 10px rgba(194, 184, 255, 0.5));
}
.header.scrolled {
    background: #05B0E6;
    color: white;
}   
.logo img {
    width: 200px;
}
.logo-name{
    font-size: x-large;
    font-weight: 800;
}
.contact{
    font-size: x-large;
    color: #05B0E6;
}
.contact:hover {
    cursor: pointer;
    color: #f8bb1f;
}
/* Navbar End */
/* Hero Section */
section{
    margin-top: 120px;
    width: 100vw;
}
/* Hero Section End  */
.Cost h1{
    font-size: xx-large;
    font-weight: 900;
    display: flex;
    justify-content: center;
}
.allcost{
    display: flex;
    flex-direction: column;
}
.allcost h2{
    font-size: xx-large;
    font-weight: 900;
}
.item-parent{
    display: flex;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}
.items:hover{
    background-color: #05B0E6;
    cursor: pointer;
}
.items img{
    width: 130px;
    margin: 0 auto;
}
/* Marquee tag  */
.marquee{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    color: red;
    font-size: x-large;
    font-weight: 700;
    margin-top: 100px;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 50s linear infinite;
    -webkit-animation: marquee 50s linear infinite;
}
@keyframes marquee {
    0% { transform:translateX(10%); -webkit-transform:translateX(10%); -moz-transform:translateX(10%); -ms-transform:translateX(10%); -o-transform:translateX(10%); }
    100% { transform:translateX(-100%) ; -webkit-transform:translateX(-100%) ; -moz-transform:translateX(-100%) ; -ms-transform:translateX(-100%) ; -o-transform:translateX(-100%) ; }
}
/* Marquee tag */

/* Auto selected Hero section */
.auto-selected{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.selected-box{
    width: 500px;
    border-style: solid;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}


.selected-box2 img{
    width: 200px;
    height: auto;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
.btn{
    width: 100px;
    margin: 0 auto;
}
.forbox{
    display: flex;
    justify-content: center;
}
/* Auto selected Hero section End  */

.footer{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}